@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

.jumbotron h1 {
  color: $brand-primary;
}

.input-group {
  margin: 10px 0;
}

.container {
  max-width: 95%;
}

#navbar .hello-boy{
  position: absolute;
  right: 50px;
}

.add {
  cursor: pointer;
}

.questions-answer .input-group-addon {
  min-width: 182px;
}
